/* line 4, ../../../app/stylesheets/common.sass */
.with_grid {
  background: transparent url('/images/grid.png'); }

/* line 8, ../../../app/stylesheets/common.sass */
body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #404040;
  padding: 20px; }

/* line 14, ../../../app/stylesheets/common.sass */
* {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0; }

/* line 16, ../../../app/stylesheets/common.sass */
a {
  color: #6ba41e;
  outline: none; }
  /* line 19, ../../../app/stylesheets/common.sass */
  a.negative {
    color: #b4520f; }
  /* line 21, ../../../app/stylesheets/common.sass */
  a.disabled {
    color: !grey;
    text-decoration: none;
    cursor: default; }
  /* line 25, ../../../app/stylesheets/common.sass */
  a:hover {
    text-decoration: none; }

/* line 27, ../../../app/stylesheets/common.sass */
h1, h2, h3, h4 {
  color: black; }

/* line 29, ../../../app/stylesheets/common.sass */
h1 {
  font-size: 24px;
  font-weight: bold; }

/* line 32, ../../../app/stylesheets/common.sass */
h2 {
  font-size: 22px;
  margin: 0 0 1em; }

/* line 35, ../../../app/stylesheets/common.sass */
h3 {
  font-size: 26px;
  margin: 0 0 0.25em; }

/* line 38, ../../../app/stylesheets/common.sass */
h4 {
  font-size: 18px;
  margin: 0 0 0.5em; }

/* line 43, ../../../app/stylesheets/common.sass */
.clearfix {
  display: inline-block; }
  /* line 45, ../../../app/stylesheets/common.sass */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

/* line 52, ../../../app/stylesheets/common.sass */
html[xmlns] .clearfix {
  display: block; }

/* line 54, ../../../app/stylesheets/common.sass */
* html .clearfix {
  height: 1%; }

/* line 59, ../../../app/stylesheets/common.sass */
div.panel div.header h2 {
  margin: 0; }
/* line 61, ../../../app/stylesheets/common.sass */
div.panel div.header span.options {
  float: right; }

/* line 66, ../../../app/stylesheets/common.sass */
ul.nav {
  width: 189px;
  padding: 40px 0 40px 10px;
  float: left;
  border-right: 1px solid #e7e7e7;
  background: #f8f8f8; }
  /* line 72, ../../../app/stylesheets/common.sass */
  ul.nav li {
    display: block;
    list-style: none;
    margin: 0 0 3px 0; }
    /* line 76, ../../../app/stylesheets/common.sass */
    ul.nav li b.arrow {
      display: none; }
    /* line 78, ../../../app/stylesheets/common.sass */
    ul.nav li a {
      display: block;
      padding: 0 10px;
      height: 36px;
      line-height: 36px;
      text-align: right;
      text-decoration: none;
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      color: gray;
      font-weight: bold;
      background: white;
      box-shadow: 0px 0px 1px #e7e7e7;
      -webkit-box-shadow: 0px 0px 1px #e7e7e7;
      -moz-box-shadow: 0px 0px 1px #e7e7e7; }
      /* line 90, ../../../app/stylesheets/common.sass */
      ul.nav li a:hover {
        color: #6ba41e; }
    /* line 92, ../../../app/stylesheets/common.sass */
    ul.nav li:last-child {
      border-bottom: none;
      margin-bottom: 0; }
    /* line 95, ../../../app/stylesheets/common.sass */
    ul.nav li.current {
      border: none;
      margin-right: -1px; }
      /* line 98, ../../../app/stylesheets/common.sass */
      ul.nav li.current b.arrow {
        border: 18px solid transparent;
        border-right: none;
        border-left: 10px solid #6ba41e;
        float: right;
        display: block;
        height: 0;
        width: 0;
        position: relative;
        right: -10px; }
      /* line 108, ../../../app/stylesheets/common.sass */
      ul.nav li.current a {
        background-color: #6ba41e;
        color: white; }

/* line 112, ../../../app/stylesheets/common.sass */
p.leader {
  font-size: 18px;
  margin: 0 0 30px;
  color: gray; }

/* line 116, ../../../app/stylesheets/common.sass */
p.breadcrumbs {
  font-size: 12px;
  color: gray;
  padding: 0 0 5px;
  margin: 0 0 20px;
  border-bottom: 1px solid #efefef; }
