/* line 4, ../../../app/stylesheets/common.sass */
.with_grid {
  background: transparent url('/images/grid.png'); }

/* line 8, ../../../app/stylesheets/common.sass */
body {
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #404040; }

/* line 13, ../../../app/stylesheets/common.sass */
* {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0; }

/* line 15, ../../../app/stylesheets/common.sass */
a {
  color: #6ba41e;
  outline: none; }
  /* line 18, ../../../app/stylesheets/common.sass */
  a.negative {
    color: #cc0000; }
  /* line 20, ../../../app/stylesheets/common.sass */
  a.disabled {
    color: !grey;
    text-decoration: none;
    cursor: default; }
  /* line 24, ../../../app/stylesheets/common.sass */
  a:hover {
    text-decoration: none; }

/* line 26, ../../../app/stylesheets/common.sass */
h1, h2, h3, h4 {
  color: black; }

/* line 28, ../../../app/stylesheets/common.sass */
h1 {
  font-size: 24px;
  font-weight: bold; }

/* line 31, ../../../app/stylesheets/common.sass */
h2 {
  font-size: 22px;
  margin: 0 0 1em; }

/* line 34, ../../../app/stylesheets/common.sass */
h3 {
  font-size: 26px;
  margin: 0 0 0.25em; }

/* line 37, ../../../app/stylesheets/common.sass */
h4 {
  font-size: 18px;
  margin: 0 0 0.5em; }

/* line 42, ../../../app/stylesheets/common.sass */
.clearfix {
  display: inline-block; }
  /* line 44, ../../../app/stylesheets/common.sass */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

/* line 51, ../../../app/stylesheets/common.sass */
html[xmlns] .clearfix {
  display: block; }

/* line 53, ../../../app/stylesheets/common.sass */
* html .clearfix {
  height: 1%; }

/* line 56, ../../../app/stylesheets/common.sass */
div.panel {
  background: url('/images/transparent_backgrounds/black_05.png');
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 4px;
  margin: 0 0 20px; }
  /* line 61, ../../../app/stylesheets/common.sass */
  div.panel div.border {
    position: relative;
    border: 1px solid silver; }
    /* line 65, ../../../app/stylesheets/common.sass */
    div.panel div.border div.header h2 {
      margin: 0; }
    /* line 67, ../../../app/stylesheets/common.sass */
    div.panel div.border div.header span.options {
      float: right; }
    /* line 69, ../../../app/stylesheets/common.sass */
    div.panel div.border div.content {
      background: white;
      padding: 20px; }

/* line 76, ../../../app/stylesheets/common.sass */
div.nav div.border div.content {
  padding: 0; }
  /* line 78, ../../../app/stylesheets/common.sass */
  div.nav div.border div.content ul {
    background: #dfdfdf; }
    /* line 80, ../../../app/stylesheets/common.sass */
    div.nav div.border div.content ul li {
      display: block;
      list-style: none;
      margin: 0 0 1px 0; }
      /* line 84, ../../../app/stylesheets/common.sass */
      div.nav div.border div.content ul li b.arrow {
        display: none; }
      /* line 86, ../../../app/stylesheets/common.sass */
      div.nav div.border div.content ul li a {
        display: block;
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        text-align: right;
        text-decoration: none;
        color: gray;
        font-weight: bold;
        background: white; }
        /* line 96, ../../../app/stylesheets/common.sass */
        div.nav div.border div.content ul li a:hover {
          color: #6ba41e; }
      /* line 98, ../../../app/stylesheets/common.sass */
      div.nav div.border div.content ul li:last-child {
        border-bottom: none;
        margin-bottom: 0; }
      /* line 101, ../../../app/stylesheets/common.sass */
      div.nav div.border div.content ul li.current {
        border: none;
        margin-right: -1px; }
        /* line 104, ../../../app/stylesheets/common.sass */
        div.nav div.border div.content ul li.current b.arrow {
          border: 18px solid transparent;
          border-right: none;
          border-left: 10px solid #6ba41e;
          float: right;
          display: block;
          height: 0;
          width: 0;
          position: relative;
          right: -10px; }
        /* line 114, ../../../app/stylesheets/common.sass */
        div.nav div.border div.content ul li.current a {
          background-color: #6ba41e;
          color: white; }
      /* line 117, ../../../app/stylesheets/common.sass */
      div.nav div.border div.content ul li:last-child {
        margin: 0; }

/* line 122, ../../../app/stylesheets/common.sass */
p.leader {
  font-size: 18px;
  margin: 0 0 30px;
  color: gray; }

/* line 126, ../../../app/stylesheets/common.sass */
p.breadcrumbs {
  font-size: 12px;
  color: gray;
  padding: 0 0 5px;
  margin: 0 0 10px;
  border-bottom: 1px solid #dfdfdf; }

/* line 133, ../../../app/stylesheets/common.sass */
p.flash {
  margin: 0 0 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 0 21px;
  background-repeat: no-repeat;
  background-position: left top; }
  /* line 141, ../../../app/stylesheets/common.sass */
  p.flash.error {
    color: #860000;
    background-image: url('/images/icons/exclamation-red.png'); }
  /* line 144, ../../../app/stylesheets/common.sass */
  p.flash.notice {
    color: #008600;
    background-image: url('/images/icons/information.png'); }

/* line 148, ../../../app/stylesheets/common.sass */
span.marker_way_point {
  display: inline-block;
  background: white;
  border: 1px solid silver;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 1px;
  height: 12px;
  width: 12px; }
  /* line 156, ../../../app/stylesheets/common.sass */
  span.marker_way_point b {
    color: white;
    background: #6ba41e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; }

/* line 168, ../../../app/stylesheets/common.sass */
span.marker_time {
  display: inline-block;
  background: url('/images/icons/clock.png');
  height: 16px;
  width: 16px; }

/* line 176, ../../../app/stylesheets/common.sass */
#page_title #page_options a.button {
  font-size: 16px;
  margin: 6px 0 0;
  line-height: 30px;
  height: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 2px #5a8b19;
  -webkit-box-shadow: 2px 2px 2px #5a8b19;
  -moz-box-shadow: 2px 2px 2px #5a8b19;
  color: black;
  font-weight: bold;
  background: white;
  border: none;
  text-shadow: 0px 0px 0px transparent; }
  /* line 188, ../../../app/stylesheets/common.sass */
  #page_title #page_options a.button.cancel {
    color: #cc0000; }
  /* line 190, ../../../app/stylesheets/common.sass */
  #page_title #page_options a.button img {
    margin: 0 3px 0 0;
    position: relative;
    top: 2px; }
