/* line 4, ../../../app/stylesheets/forms.sass */
form p {
  line-height: 28px;
  margin: 0 0 10px; }
  /* line 7, ../../../app/stylesheets/forms.sass */
  form p.submit {
    margin-bottom: 0; }
/* line 9, ../../../app/stylesheets/forms.sass */
form div.complex_field {
  line-height: 28px;
  margin: 0 0 10px; }
  /* line 12, ../../../app/stylesheets/forms.sass */
  form div.complex_field > span {
    float: left;
    display: block;
    margin: 0 10px 0 0; }
    /* line 16, ../../../app/stylesheets/forms.sass */
    form div.complex_field > span:last-child {
      margin: 0; }
/* line 18, ../../../app/stylesheets/forms.sass */
form label {
  color: gray;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px;
  font-size: 14px; }
  /* line 25, ../../../app/stylesheets/forms.sass */
  form label.description {
    line-height: 1;
    margin: 3px 0 0;
    font-size: 12px;
    float: none;
    text-align: left; }
  /* line 31, ../../../app/stylesheets/forms.sass */
  form label.title {
    line-height: 1;
    margin: 0 0 5px;
    font-size: 12px;
    float: none;
    text-align: left; }
  /* line 37, ../../../app/stylesheets/forms.sass */
  form label.inline {
    float: none;
    text-align: left;
    width: auto;
    margin: 0;
    display: inline; }
/* line 43, ../../../app/stylesheets/forms.sass */
form span.err_msg {
  line-height: 1;
  margin: 3px 0 0;
  font-size: 12px;
  float: none;
  text-align: left;
  color: #cc0000;
  display: none;
  width: auto; }
/* line 52, ../../../app/stylesheets/forms.sass */
form input[type=text], form input[type=password] {
  font-family: helvetica, arial, sans-serif;
  background: white;
  font-size: 14px;
  padding: 5px 3px 0;
  height: 21px;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf; }
  /* line 61, ../../../app/stylesheets/forms.sass */
  form input[type=text].is_blank, form input[type=password].is_blank {
    color: silver; }
/* line 63, ../../../app/stylesheets/forms.sass */
form textarea {
  padding: 5px 3px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  margin: 0; }
/* line 71, ../../../app/stylesheets/forms.sass */
form .err span.err_msg {
  display: block; }
/* line 74, ../../../app/stylesheets/forms.sass */
form.lw40 label {
  width: 40px; }
  /* line 76, ../../../app/stylesheets/forms.sass */
  form.lw40 label.description {
    width: auto;
    margin-left: 50px; }
/* line 79, ../../../app/stylesheets/forms.sass */
form.lw40 p.indent {
  margin-left: 50px; }
/* line 82, ../../../app/stylesheets/forms.sass */
form.lw80 label {
  width: 80px; }
  /* line 84, ../../../app/stylesheets/forms.sass */
  form.lw80 label.description {
    width: auto;
    margin-left: 90px; }
/* line 87, ../../../app/stylesheets/forms.sass */
form.lw80 p.indent {
  margin-left: 90px; }
/* line 90, ../../../app/stylesheets/forms.sass */
form.lw120 label {
  width: 120px; }
  /* line 92, ../../../app/stylesheets/forms.sass */
  form.lw120 label.description {
    width: auto;
    margin-left: 130px; }
/* line 95, ../../../app/stylesheets/forms.sass */
form.lw120 p.indent {
  margin-left: 130px; }
/* line 98, ../../../app/stylesheets/forms.sass */
form.lw160 label {
  width: 160px; }
  /* line 100, ../../../app/stylesheets/forms.sass */
  form.lw160 label.description {
    width: auto;
    margin-left: 170px; }
/* line 103, ../../../app/stylesheets/forms.sass */
form.lw160 p.indent {
  margin-left: 170px; }

/* Buttons */
/* line 108, ../../../app/stylesheets/forms.sass */
a.button {
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #efefef;
  color: white;
  text-shadow: -1px -1px 0px #507b16;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  padding: 0 10px;
  line-height: 27px;
  font-size: 16px;
  height: 26px;
  box-shadow: 2px 2px 4px silver;
  -webkit-box-shadow: 2px 2px 4px silver;
  -moz-box-shadow: 2px 2px 4px silver; }
