/* line 3, ../../../app/stylesheets/layout.sass */
div.page_width {
  margin-left: auto;
  margin-right: auto;
  width: 950px; }

/* line 8, ../../../app/stylesheets/layout.sass */
body {
  background-color: #e5e5e5; }
  /* line 10, ../../../app/stylesheets/layout.sass */
  body #masthead {
    overflow: hidden;
    background: #404040;
    border-bottom: 4px solid #6ba41e; }
    /* line 14, ../../../app/stylesheets/layout.sass */
    body #masthead div.page_width {
      padding: 10px;
      overflow: hidden; }
      /* line 17, ../../../app/stylesheets/layout.sass */
      body #masthead div.page_width h1 {
        float: left;
        margin: 0;
        line-height: 22px; }
        /* line 21, ../../../app/stylesheets/layout.sass */
        body #masthead div.page_width h1 a {
          color: white;
          text-decoration: none; }
      /* line 24, ../../../app/stylesheets/layout.sass */
      body #masthead div.page_width span.notification {
        margin: 2px 0 0 3px;
        float: right; }
      /* line 27, ../../../app/stylesheets/layout.sass */
      body #masthead div.page_width #nav {
        display: block;
        margin: 0 0 0 200px; }
        /* line 30, ../../../app/stylesheets/layout.sass */
        body #masthead div.page_width #nav li {
          display: block;
          float: left;
          list-style: none;
          margin: 0 5px 0 0;
          padding: 0; }
          /* line 36, ../../../app/stylesheets/layout.sass */
          body #masthead div.page_width #nav li a {
            display: block;
            line-height: 22px;
            padding: 0 8px;
            height: 22px;
            background: url('/images/transparent_backgrounds/white_10.png');
            font-size: 12px;
            font-weight: bold;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            text-decoration: none;
            color: white;
            text-shadow: 1px 1px 0px black;
            text-shadow: 1px 1px 0px #35520f; }
            /* line 48, ../../../app/stylesheets/layout.sass */
            body #masthead div.page_width #nav li a:hover {
              background: #6ba41e; }
      /* line 51, ../../../app/stylesheets/layout.sass */
      body #masthead div.page_width #utilities {
        float: right;
        overflow: hidden; }
        /* line 54, ../../../app/stylesheets/layout.sass */
        body #masthead div.page_width #utilities a {
          display: block;
          float: left;
          margin: 0 0 0 5px;
          background: url('/images/transparent_backgrounds/white_10.png');
          line-height: 22px;
          padding: 0 8px;
          text-shadow: 1px 1px 0px black;
          height: 22px;
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          text-decoration: none;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: bold;
          color: white; }
          /* line 69, ../../../app/stylesheets/layout.sass */
          body #masthead div.page_width #utilities a:hover {
            background: #6ba41e;
            text-shadow: 1px 1px 0px #35520f; }
  /* line 73, ../../../app/stylesheets/layout.sass */
  body #page_title {
    margin: 0 0 20px; }
    /* line 75, ../../../app/stylesheets/layout.sass */
    body #page_title h2 {
      color: black;
      font-size: 24px;
      font-weight: bold;
      color: #404040;
      margin: 0; }
    /* line 81, ../../../app/stylesheets/layout.sass */
    body #page_title #page_options {
      float: right; }
  /* line 83, ../../../app/stylesheets/layout.sass */
  body #content {
    border-top: 4px solid #dfdfdf;
    background-color: #efefef;
    border-bottom: 1px solid silver;
    padding: 20px 0;
    min-height: 480px; }
    /* line 89, ../../../app/stylesheets/layout.sass */
    body #content #main {
      margin: 0;
      padding: 0; }
    /* line 93, ../../../app/stylesheets/layout.sass */
    body #content.with_sidebar_left #main {
      margin-left: 200px;
      padding-left: 20px; }
    /* line 97, ../../../app/stylesheets/layout.sass */
    body #content.with_sidebar_right #main {
      margin-right: 200px;
      padding-right: 20px; }
    /* line 100, ../../../app/stylesheets/layout.sass */
    body #content #sidebar_left {
      float: left;
      width: 200px; }
    /* line 103, ../../../app/stylesheets/layout.sass */
    body #content #sidebar_right {
      float: right;
      width: 200px; }
    /* line 107, ../../../app/stylesheets/layout.sass */
    body #content div.sidebar h3 {
      background: url('/images/transparent_backgrounds/main_colour_15.png');
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
      border: 1px solid #d9e8c6;
      margin: 0;
      color: #404040;
      border-left: none;
      border-right: none;
      padding: 5px 10px; }
  /* line 120, ../../../app/stylesheets/layout.sass */
  body #footer {
    font-size: 12px;
    padding: 20px;
    border-top: 4px solid #dfdfdf; }
    /* line 124, ../../../app/stylesheets/layout.sass */
    body #footer p {
      filter: alpha(opacity=50);
      opacity: 0.5;
      -moz-opacity: 0.5; }
    /* line 127, ../../../app/stylesheets/layout.sass */
    body #footer:hover p {
      filter: alpha(opacity=100);
      opacity: 1;
      -moz-opacity: 1; }
