/* line 3, ../../../app/stylesheets/screen.sass */
#home_controller.index #page_title {
  display: none; }

/* line 5, ../../../app/stylesheets/screen.sass */
#pitch {
  margin: 0 0 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #6ba41e;
  height: 240px; }
  /* line 10, ../../../app/stylesheets/screen.sass */
  #pitch>div {
    width: 415px;
    padding: 40px; }
  /* line 13, ../../../app/stylesheets/screen.sass */
  #pitch div.text {
    float: left;
    padding-right: 20px; }
    /* line 16, ../../../app/stylesheets/screen.sass */
    #pitch div.text>* {
      color: white;
      text-shadow: 2px 2px 0px #5a8b19; }
    /* line 19, ../../../app/stylesheets/screen.sass */
    #pitch div.text h2 {
      font-size: 32px;
      font-weight: bold;
      margin: 0 0 10px; }
    /* line 23, ../../../app/stylesheets/screen.sass */
    #pitch div.text h3 {
      margin: 0; }
  /* line 25, ../../../app/stylesheets/screen.sass */
  #pitch div.image {
    float: right;
    padding-left: 20px; }

/* line 28, ../../../app/stylesheets/screen.sass */
#features {
  margin: 0 0 20px;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  /* line 32, ../../../app/stylesheets/screen.sass */
  #features ul {
    overflow: hidden;
    padding: 20px; }
    /* line 35, ../../../app/stylesheets/screen.sass */
    #features ul li {
      display: block;
      float: left;
      width: 290px;
      margin: 0 20px 0 0; }
      /* line 40, ../../../app/stylesheets/screen.sass */
      #features ul li h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0; }
      /* line 44, ../../../app/stylesheets/screen.sass */
      #features ul li p {
        color: gray; }
    /* line 46, ../../../app/stylesheets/screen.sass */
    #features ul li:last-child {
      margin: 0; }

/* Tour Page */
/* line 52, ../../../app/stylesheets/screen.sass */
#features_controller ul.features li {
  list-style: none;
  margin: 0 0 30px; }
  /* line 55, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li img {
    float: left;
    width: 50px; }
  /* line 58, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li h4 {
    color: #6ba41e;
    font-size: 16px;
    margin: 0 0 0 65px; }
  /* line 62, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li p {
    margin: 0 0 0 65px; }
