/* line 3, ../../../app/stylesheets/screen.sass */
#home_controller.index #page_title {
  display: none; }

/* line 5, ../../../app/stylesheets/screen.sass */
#top {
  position: relative; }
  /* line 7, ../../../app/stylesheets/screen.sass */
  #top #pitch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: url('/images/transparent_backgrounds/main_colour_90.png'); }
    /* line 14, ../../../app/stylesheets/screen.sass */
    #top #pitch div.text {
      width: 374px;
      padding: 40px 20px 40px 40px;
      float: left;
      padding-right: 20px; }
      /* line 19, ../../../app/stylesheets/screen.sass */
      #top #pitch div.text>* {
        color: white;
        text-shadow: 2px 2px 0px #466c13; }
      /* line 22, ../../../app/stylesheets/screen.sass */
      #top #pitch div.text h2 {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 10px; }
      /* line 26, ../../../app/stylesheets/screen.sass */
      #top #pitch div.text h3 {
        font-size: 20px;
        margin: 0; }
    /* line 29, ../../../app/stylesheets/screen.sass */
    #top #pitch div.try {
      width: 446px;
      padding: 40px 40px 40px 20px;
      float: right; }
      /* line 33, ../../../app/stylesheets/screen.sass */
      #top #pitch div.try div.leader {
        padding: 10px 20px;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        background: #d8d800;
        position: relative; }
        /* line 38, ../../../app/stylesheets/screen.sass */
        #top #pitch div.try div.leader>* {
          color: black;
          line-height: 1; }
        /* line 41, ../../../app/stylesheets/screen.sass */
        #top #pitch div.try div.leader h2 {
          font-size: 16px;
          margin: 0; }
        /* line 44, ../../../app/stylesheets/screen.sass */
        #top #pitch div.try div.leader b.tail {
          display: block;
          position: absolute;
          top: 100%;
          left: 20px;
          height: 0;
          width: 0;
          border-top: 10px solid #d8d800;
          border-right: 20px solid transparent;
          border-bottom: none;
          border-left: 10px solid transparent; }
      /* line 55, ../../../app/stylesheets/screen.sass */
      #top #pitch div.try form {
        background: white;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        padding: 20px; }
        /* line 61, ../../../app/stylesheets/screen.sass */
        #top #pitch div.try form div.complex_field span span.marker_way_point, #top #pitch div.try form div.complex_field span span.marker_time {
          float: left;
          margin: -2px 3px 0 0; }
      /* line 64, ../../../app/stylesheets/screen.sass */
      #top #pitch div.try ul.users {
        display: none; }
  /* line 66, ../../../app/stylesheets/screen.sass */
  #top #search_results {
    float: right;
    background: white;
    position: relative;
    z-index: 10;
    width: 0;
    border-left: 0px solid silver;
    height: 520px;
    display: none; }
    /* line 76, ../../../app/stylesheets/screen.sass */
    #top #search_results div.try div.leader {
      padding: 10px;
      background: #d8d800;
      position: relative; }
      /* line 80, ../../../app/stylesheets/screen.sass */
      #top #search_results div.try div.leader>* {
        color: black;
        line-height: 1; }
      /* line 83, ../../../app/stylesheets/screen.sass */
      #top #search_results div.try div.leader h2 {
        font-size: 14px;
        margin: 0; }
        /* line 86, ../../../app/stylesheets/screen.sass */
        #top #search_results div.try div.leader h2 span {
          display: none; }
      /* line 88, ../../../app/stylesheets/screen.sass */
      #top #search_results div.try div.leader b.tail {
        display: block;
        position: absolute;
        top: 100%;
        left: 10px;
        height: 0;
        width: 0;
        margin: -5px 0 0;
        border-top: 10px solid #d8d800;
        border-right: 20px solid transparent;
        border-bottom: none;
        border-left: 10px solid transparent; }
    /* line 100, ../../../app/stylesheets/screen.sass */
    #top #search_results div.try form {
      background: white;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      padding: 10px; }
      /* line 104, ../../../app/stylesheets/screen.sass */
      #top #search_results div.try form>*>span {
        float: none;
        margin: 0 0 5px; }
        /* line 107, ../../../app/stylesheets/screen.sass */
        #top #search_results div.try form>*>span span.marker_way_point, #top #search_results div.try form>*>span span.marker_time {
          float: left;
          margin-top: 6px; }
        /* line 110, ../../../app/stylesheets/screen.sass */
        #top #search_results div.try form>*>span label {
          display: none; }
        /* line 112, ../../../app/stylesheets/screen.sass */
        #top #search_results div.try form>*>span input[type="text"] {
          margin: 0 0 0 21px;
          display: block; }
        /* line 115, ../../../app/stylesheets/screen.sass */
        #top #search_results div.try form>*>span:last-child {
          margin-bottom: 0; }
  /* line 117, ../../../app/stylesheets/screen.sass */
  #top #map {
    height: 440px; }

/* line 121, ../../../app/stylesheets/screen.sass */
#features ul {
  overflow: hidden; }
  /* line 123, ../../../app/stylesheets/screen.sass */
  #features ul li {
    display: block;
    float: left;
    width: 286px;
    margin: 0 20px 0 0; }
    /* line 128, ../../../app/stylesheets/screen.sass */
    #features ul li h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0; }
    /* line 132, ../../../app/stylesheets/screen.sass */
    #features ul li p {
      color: gray; }
  /* line 134, ../../../app/stylesheets/screen.sass */
  #features ul li:last-child {
    margin: 0; }

/* Features Page */
/* line 140, ../../../app/stylesheets/screen.sass */
#features_controller ul.features li {
  list-style: none;
  margin: 0 0 30px; }
  /* line 143, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li img {
    float: left;
    width: 50px; }
  /* line 146, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li h4 {
    color: #6ba41e;
    font-size: 16px;
    margin: 0 0 0 65px; }
  /* line 150, ../../../app/stylesheets/screen.sass */
  #features_controller ul.features li p {
    margin: 0 0 0 65px; }
/* line 154, ../../../app/stylesheets/screen.sass */
#features_controller #main div.panel:first-child div.content {
  padding: 40px; }

/* My Account */
/* line 160, ../../../app/stylesheets/screen.sass */
#account_controller #main a.picture, #account_controller #main a.logo {
  display: block;
  float: right;
  border: 1px solid #efefef;
  position: relative; }
  /* line 165, ../../../app/stylesheets/screen.sass */
  #account_controller #main a.picture.picture, #account_controller #main a.logo.picture {
    width: 78px;
    height: 78px; }
    /* line 168, ../../../app/stylesheets/screen.sass */
    #account_controller #main a.picture.picture img, #account_controller #main a.logo.picture img {
      height: 100%;
      width: 100%; }
  /* line 171, ../../../app/stylesheets/screen.sass */
  #account_controller #main a.picture.logo, #account_controller #main a.logo.logo {
    width: 158px; }
    /* line 173, ../../../app/stylesheets/screen.sass */
    #account_controller #main a.picture.logo img, #account_controller #main a.logo.logo img {
      width: 100%; }
  /* line 175, ../../../app/stylesheets/screen.sass */
  #account_controller #main a.picture span, #account_controller #main a.logo span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3px 0 2px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background: #6ba41e;
    text-align: center;
    display: none; }
  /* line 188, ../../../app/stylesheets/screen.sass */
  #account_controller #main a.picture:hover, #account_controller #main a.logo:hover {
    border-color: #6ba41e; }
    /* line 190, ../../../app/stylesheets/screen.sass */
    #account_controller #main a.picture:hover span, #account_controller #main a.logo:hover span {
      display: block; }

/* Users List */
/* line 195, ../../../app/stylesheets/screen.sass */
ul.users > li {
  position: relative;
  display: block;
  margin: 1px 0 0 0;
  padding: 5px 10px;
  border-top: 1px solid #efefef; }
  /* line 201, ../../../app/stylesheets/screen.sass */
  ul.users > li b.pointer {
    display: none;
    position: absolute;
    left: -10px;
    top: 15px;
    height: 0;
    weight: 0;
    border: 10px solid transparent;
    border-right: 10px solid white;
    border-left: none;
    z-index: 11; }
  /* line 212, ../../../app/stylesheets/screen.sass */
  ul.users > li img.picture {
    width: 38px;
    height: 38px;
    display: block;
    border: 1px solid #efefef;
    float: left;
    overflow: hidden; }
  /* line 219, ../../../app/stylesheets/screen.sass */
  ul.users > li a.name {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 0 0 0 45px;
    text-decoration: none; }
  /* line 225, ../../../app/stylesheets/screen.sass */
  ul.users > li span.stars_rating {
    margin: 0 0 3px 45px;
    display: block; }
  /* line 228, ../../../app/stylesheets/screen.sass */
  ul.users > li small {
    display: block;
    font-size: 10px;
    color: gray;
    margin-left: 45px; }
/* line 234, ../../../app/stylesheets/screen.sass */
ul.users > li:first-child b.pointer {
  display: block; }

/* User */
/* line 238, ../../../app/stylesheets/screen.sass */
div.user {
  position: relative;
  padding: 5px 10px; }
  /* line 241, ../../../app/stylesheets/screen.sass */
  div.user img.picture {
    width: 38px;
    height: 38px;
    display: block;
    border: 1px solid #efefef;
    float: left;
    overflow: hidden; }
  /* line 248, ../../../app/stylesheets/screen.sass */
  div.user a.name {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 0 0 0 45px;
    text-decoration: none; }
  /* line 254, ../../../app/stylesheets/screen.sass */
  div.user span.stars_rating {
    margin: 0 0 3px 45px;
    display: block; }
  /* line 257, ../../../app/stylesheets/screen.sass */
  div.user small {
    display: block;
    font-size: 10px;
    color: gray;
    margin-left: 45px; }

/* Stars Rating (Small) */
/* line 265, ../../../app/stylesheets/screen.sass */
span.stars_rating {
  display: inline-block; }
  /* line 267, ../../../app/stylesheets/screen.sass */
  span.stars_rating.small {
    height: 9px;
    width: 49px;
    background: url('/images/stars_rating_small.png') no-repeat; }

/* line 272, ../../../app/stylesheets/screen.sass */
#map {
  height: 520px; }

/* line 275, ../../../app/stylesheets/screen.sass */
div.did_you_mean {
  display: block; }
  /* line 277, ../../../app/stylesheets/screen.sass */
  div.did_you_mean div.location_suggestions {
    display: inline-block; }
    /* line 279, ../../../app/stylesheets/screen.sass */
    div.did_you_mean div.location_suggestions a {
      display: block;
      list-style: none;
      line-height: 28px; }

/* Commutes */
/* line 287, ../../../app/stylesheets/screen.sass */
#commutes_controller #commutes_nav div.options {
  overflow: hidden;
  margin: 0 0 5px; }
  /* line 290, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav div.options a {
    display: block;
    padding: 0 8px;
    height: 22px;
    line-height: 22px;
    background: url('/images/transparent_backgrounds/main_colour_50.png');
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #5a8b19;
    color: white;
    text-decoration: none;
    font-weight: bold; }
    /* line 302, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a:hover {
      background: #6ba41e;
      text-shadow: 1px 1px 0px #466c13; }
  /* line 305, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav div.options a.nav {
    float: left;
    margin: 0 1px 0 0; }
    /* line 308, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.nav b {
      display: block;
      text-indent: -9000px;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      margin: 6px 2px 0; }
    /* line 315, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.nav.previous {
      border-bottom-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      -moz-border-radius-topleft: 2px;
      -webkit-border-top-left-radius: 2px; }
      /* line 317, ../../../app/stylesheets/screen.sass */
      #commutes_controller #commutes_nav div.options a.nav.previous b {
        border-left: none;
        border-right: 5px solid white; }
    /* line 320, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.nav.next {
      border-top-right-radius: 2px;
      -moz-border-radius-topright: 2px;
      -webkit-border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px; }
      /* line 322, ../../../app/stylesheets/screen.sass */
      #commutes_controller #commutes_nav div.options a.nav.next b {
        border-right: none;
        border-left: 5px solid white; }
    /* line 325, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.nav.today {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      margin: 0 0 0 4px; }
  /* line 328, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav div.options a.view {
    float: right;
    margin: 0 0 0 1px; }
    /* line 331, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.view.week {
      border-bottom-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
      -webkit-border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      -moz-border-radius-topleft: 2px;
      -webkit-border-top-left-radius: 2px; }
    /* line 333, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav div.options a.view.month {
      border-top-right-radius: 2px;
      -moz-border-radius-topright: 2px;
      -webkit-border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      -moz-border-radius-bottomright: 2px;
      -webkit-border-bottom-right-radius: 2px; }
  /* line 335, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav div.options span.displayed {
    margin: 0 0 0 12px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: bold; }
/* line 342, ../../../app/stylesheets/screen.sass */
#commutes_controller #commutes_nav ul.week li {
  display: block;
  float: left;
  width: 14.285714285714286%;
  list-style: none;
  position: relative; }
  /* line 348, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav ul.week li a {
    display: block;
    margin-right: 1px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    font-size: 12px;
    color: gray;
    text-decoration: none;
    background: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    /* line 361, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav ul.week li a:hover {
      color: #6ba41e; }
    /* line 363, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav ul.week li a small {
      display: block;
      font-size: 10px;
      font-weight: normal; }
  /* line 367, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav ul.week li b.pointer {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 -10px -10px;
    border: 10px solid transparent;
    border-top: 10px solid #6ba41e;
    border-bottom: none;
    z-index: 10; }
  /* line 380, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav ul.week li:last-child a {
    margin-right: 0; }
  /* line 383, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav ul.week li.active a {
    background: #6ba41e;
    color: white;
    text-shadow: 1px 1px 0px #466c13; }
    /* line 387, ../../../app/stylesheets/screen.sass */
    #commutes_controller #commutes_nav ul.week li.active a small {
      text-shadow: 1px 1px 0px #466c13; }
  /* line 389, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes_nav ul.week li.active b.pointer {
    display: block; }
/* line 394, ../../../app/stylesheets/screen.sass */
#commutes_controller div.panel ul li div, #commutes_controller div.panel div.details div {
  font-size: 12px;
  margin: 0 0 2px; }
  /* line 397, ../../../app/stylesheets/screen.sass */
  #commutes_controller div.panel ul li div span.marker_way_point, #commutes_controller div.panel ul li div span.marker_time, #commutes_controller div.panel ul li div span.marker_passengers, #commutes_controller div.panel div.details div span.marker_way_point, #commutes_controller div.panel div.details div span.marker_time, #commutes_controller div.panel div.details div span.marker_passengers {
    float: left;
    margin: 0 3px 0 0; }
  /* line 400, ../../../app/stylesheets/screen.sass */
  #commutes_controller div.panel ul li div.arrive_for, #commutes_controller div.panel ul li div.passengers, #commutes_controller div.panel div.details div.arrive_for, #commutes_controller div.panel div.details div.passengers {
    float: left;
    width: 50%;
    margin: 0; }
/* line 404, ../../../app/stylesheets/screen.sass */
#commutes_controller div.panel ul li div.warnings, #commutes_controller div.panel div.details div.warnings {
  position: absolute;
  top: 5px;
  right: -8px;
  width: 16px; }
/* line 409, ../../../app/stylesheets/screen.sass */
#commutes_controller div.panel ul li a.go, #commutes_controller div.panel div.details a.go {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  display: block;
  padding: 0 10px 0 0; }
  /* line 416, ../../../app/stylesheets/screen.sass */
  #commutes_controller div.panel ul li a.go b, #commutes_controller div.panel div.details a.go b {
    display: block;
    height: 0;
    width: 0;
    text-indent: -9000px;
    border: 5px solid transparent;
    border-left: 5px solid #e7e7e7;
    border-right: none;
    margin: -5px 0 0; }
/* line 425, ../../../app/stylesheets/screen.sass */
#commutes_controller div.panel ul li:last-child, #commutes_controller div.panel div.details:last-child {
  border-bottom: 0; }
/* line 428, ../../../app/stylesheets/screen.sass */
#commutes_controller div.panel ul li:hover {
  cursor: pointer; }
  /* line 431, ../../../app/stylesheets/screen.sass */
  #commutes_controller div.panel ul li:hover a.go b {
    border-left-color: silver; }
/* line 434, ../../../app/stylesheets/screen.sass */
#commutes_controller #commutes.panel div.content {
  padding: 0; }
  /* line 437, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commutes.panel div.content > ul> li {
    display: block;
    margin: 0;
    padding: 5px;
    position: relative;
    list-style: none;
    border-bottom: 1px solid #dfdfdf; }
/* line 446, ../../../app/stylesheets/screen.sass */
#commutes_controller #commute.panel div.content div.details {
  padding: 5px 10px; }
/* line 449, ../../../app/stylesheets/screen.sass */
#commutes_controller #commute.panel div.content div.passengers ul.users li {
  margin: 0; }
  /* line 451, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commute.panel div.content div.passengers ul.users li:first-child {
    border-top: none; }
  /* line 453, ../../../app/stylesheets/screen.sass */
  #commutes_controller #commute.panel div.content div.passengers ul.users li b.pointer {
    display: none; }

/* Messages */
/* line 459, ../../../app/stylesheets/screen.sass */
#messages div.content table {
  width: 100%; }
  /* line 461, ../../../app/stylesheets/screen.sass */
  #messages div.content table th, #messages div.content table td {
    padding: 3px 5px;
    line-height: 1; }
  /* line 466, ../../../app/stylesheets/screen.sass */
  #messages div.content table thead tr th {
    background: #f4f4f4;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid silver; }
    /* line 471, ../../../app/stylesheets/screen.sass */
    #messages div.content table thead tr th.select {
      width: 1px; }
  /* line 475, ../../../app/stylesheets/screen.sass */
  #messages div.content table tbody tr td {
    border-bottom: 1px solid #dfdfdf; }
    /* line 478, ../../../app/stylesheets/screen.sass */
    #messages div.content table tbody tr td.subject a {
      font-weight: bold; }
  /* line 481, ../../../app/stylesheets/screen.sass */
  #messages div.content table tbody tr:last-child td {
    border-bottom: none; }
