<li>
  <b class="pointer"><!----></b>
  <%= image_tag "", :alt => "[first_name]", :class => "picture" %>
  <%= link_to "[first_name]", "asdf", :title => "[first_name]", :class => "name" %>
  <span class="stars_rating small"><!----></span>
  <small>[driving_or_walking_time]</small>
</li>