<% @page_title = "Users" %>
<% @layout = "with_sidebar_left" %>

asdf

<% content_for :sidebar_left do %>
  <div class="panel">
    <div class="content">
      <p>asdf</p>
    </div>
  </div>
<% end %>