<div id="footer">
  <div class="page_width clearfix">
    <p class="legal">
      <%= link_to app_name, root_url, :title => app_name %> &copy; 2009 &middot;
      <%#= link_to "Terms of Use", usage_path, :title => "Terms of Use" %> &middot;
      <%#= link_to "Privacy Policy", privacy_path, :title => "Privacy Policy" %>
    </p>
  </div>
</div>