@import lib.sass

// Typography
body
  position: relative
  font-family: helvetica, arial, sans-serif
  +font_size("medium")
  color = !dark_grey
  padding: 20px
*
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0
a
  color = !main_colour
  outline: none
  &.negative
    color = !colour_negative
  &.disabled
    color: !grey
    text-decoration: none
    cursor: default
  &:hover
    text-decoration: none
h1, h2, h3, h4
  color = !black
h1
  +font_size("huge")
  font-weight: bold
h2
  +font_size("xxxlarge")
  margin: 0 0 1em
h3
  +font_size("xxlarge")
  margin: 0 0 0.75em
h4
  +font_size("xlarge")
  margin: 0 0 0.5em

// Clearfix
.clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
html[xmlns] .clearfix
  display: block
* html .clearfix
  height: 1%

div.panel
  div.header
    h2
      margin: 0
    span.options
      float: right
  div.content
  div.footer

#page_title
  +rounded_corners("top", 5)
  background-color = !main_colour
  padding: 10px 20px
  border-bottom = 1px "solid" (!main_colour * 0.85 + black * 0.15)
  h2
    color = !white
    +text_shadow(2, 2, 0, !main_colour * 0.85 + !black * 0.15)
    +font_size("xxhuge")
    font-weight: bold
    margin: 0

ul.nav
  width: 200px
  padding: 10px 0 10px 10px
  float: left
  border-right = 1px "solid" !light_grey * 0.33 + !white * 0.66
  li
    display: block
    list-style: none
    border-bottom = 1px "solid" !light_grey * 0.25 + !white * 0.75
    border-right = 3px "solid" !light_grey * 0.15 + !white * 0.85
    b.arrow
      display: none
    a
      display: block
      padding: 0 10px
      height: 26px
      line-height: 26px
      text-decoration: none
      color = !grey
      font-weight: bold
      &:hover
        color = !main_colour
    &:last-child
      border-bottom: none
    &.current
      border-right: none
      b.arrow
        border: 13px solid transparent
        border-right: none
        border-left = 10px "solid" !main_colour
        float: right
        display: block
        height: 0
        width: 0
      a
        +rounded_corners("left", 5)
        background-color = !main_colour
        color = !white



























  