@import lib.sass

// Show Grid
.with_grid
  background: transparent url('/images/grid.png')

// Typography
body
  position: relative
  font-family: helvetica, arial, sans-serif
  +font_size("medium")
  color = !dark_grey
*
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 0
a
  color = !main_colour
  outline: none
  &.negative
    color = !colour_negative
  &.disabled
    color: !grey
    text-decoration: none
    cursor: default
  &:hover
    text-decoration: none
h1, h2, h3, h4
  color = !black
h1
  +font_size("huge")
  font-weight: bold
h2
  +font_size("xxxlarge")
  margin: 0 0 1em
h3
  +font_size("xxlarge")
  margin: 0 0 0.25em
  font-weight: bold
h4
  +font_size("xlarge")
  margin: 0 0 0.5em

// Clearfix
.clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
html[xmlns] .clearfix
  display: block
* html .clearfix
  height: 1%

div.panel
  background: url('/images/transparent_backgrounds/black_05.png')
  +rounded_corners("all", 3)
  padding: 4px
  margin: 0 0 20px
  div.header
    padding: 5px 10px
    background: url('/images/transparent_backgrounds/main_colour_50.png')
    border = 1px "solid" !main_colour * 0.5 + !light_grey * 0.5
    +rounded_corners("top", 2)
    h2
      margin: 0
      +font_size("medium")
      font-weight: bold
      +text_shadow(1, 1, 0, !main_colour * 0.66 + !black * 0.33)
      color = !white
      line-height: 1
    span.options
      float: right
  div.content
    position: relative
    border = 1px "solid" !light_grey
    background = !white
    padding: 20px
    +rounded_corners("all", 2)
    &.no_padding
      padding: 0
  div.footer
    background = !light_grey * 0.15 + !white * 0.85
    border = 1px "solid" !light_grey
    +rounded_corners("bottom", 3)
    padding: 5px
    overflow: hidden
    a.button
      float: right
      +font_size("tiny")
      font-weight: bold
      line-height: 16px
      height: 16px
      padding: 0 5px
      text-transform: uppercase
      color = !white
      +text_shadow(1, 1, 0, !main_colour * 0.66 + !black * 0.33)
      border = 1px "solid" !main_colour * 0.66 + !black * 0.33
      border-left: none
      border-top: none
      background = !main_colour
      +box_shadow(1, 1, 0, transparent)
      +rounded_corners("all", 2)
  &.with_header
    div.content
      border-top: none
      +rounded_corners("top", 0)
  &.with_footer
    div.content
      border-bottom: none
      +rounded_corners("bottom", 0)
div.nav
  div.content
    padding: 0
    ul
      background = !light_grey * 0.5 + !white * 0.5
      li
        display: block
        list-style: none
        margin: 0 0 1px 0
        b.arrow
          display: none
        a
          display: block
          padding: 0 10px
          height: 36px
          line-height: 36px
          text-align: right
          text-decoration: none
          color = !grey
          font-weight: bold
          background = !white
          &:hover
            color = !main_colour
        &:last-child
          border-bottom: none
          margin-bottom: 0
        &.current
          border: none
          margin-right: -1px
          b.arrow
            border: 18px solid transparent
            border-right: none
            border-left = 10px "solid" !main_colour
            float: right
            display: block
            height: 0
            width: 0
            position: relative
            right: -10px
          a
            background-color = !main_colour
            color = !white
        &:last-child
          margin: 0

p.leader
  +font_size("large")
  margin: 0 0 30px
  color = !grey
p.breadcrumbs
  +font_size("small")
  color = !grey
  padding: 0 0 5px
  margin: 0 0 10px
  border-bottom = 1px "solid" !light_grey * 0.5 + !white * 0.5

p.flash
  margin: 0 0 20px
  +rounded_corners("all", 3)
  +font_size("small")
  font-weight: bold
  padding: 0 0 0 21px
  background-repeat: no-repeat
  background-position: left top
  &.error
    color = !colour_negative * 0.66 + !black * 0.33
    background-image: url('/images/icons/exclamation-red.png')
  &.notice
    color = !colour_positive * 0.66 + !black * 0.33
    background-image: url('/images/icons/information.png')

span.marker_way_point
  display: inline-block
  background = !white
  border = 1px "solid" !light_grey
  +rounded_corners("all", 8)
  padding: 1px
  height: 12px
  width: 12px
  b
    color = !white
    background = !main_colour
    font-weight: bold
    text-transform: uppercase
    +font_size("tiny")
    display: block
    width: 12px
    height: 12px
    line-height: 12px
    text-align: center
    +rounded_corners("all", 6)
span.marker_time
  display: inline-block
  background: url('/images/icons/clock.png')
  height: 16px
  width: 16px
span.marker_passengers
  display: inline-block
  background: url('/images/icons/user.png')
  height: 16px
  width: 16px

#page_title
  #page_options
    a.button
      +font_size("large")
      margin: 6px 0 0
      line-height: 30px
      height: 30px
      +box_shadow(2, 2, 2, !light_grey * 0.33 + !white * 0.66)
      border = 1px "solid" !light_grey * 0.5 + !white * 0.5
      color = !black
      font-weight: bold
      background = !white
      +text_shadow(0, 0, 0, transparent)
      &.negative
        color = !colour_negative * 0.85 + !black * 0.15
        border = 1px "solid" !colour_negative * 0.85 + !black * 0.15
      img
        margin: 0 3px 0 0
        position: relative
        top: 2px

div.inner_shadow
  position: absolute
  z-index: 500
  &.top
    top: 0
    left: 0
    right: 0
    height: 5px
    background: url('/images/inner_shadow_top.png') repeat-x left top
  &.right
    top: 0
    bottom: 0
    right: 0
    width: 5px
    background: url('/images/inner_shadow_right.png') repeat-y left top
  &.bottom
    bottom: 0
    left: 0
    right: 0
    height: 5px
    background: url('/images/inner_shadow_bottom.png') repeat-x left top
  &.left
    top: 0
    bottom: 0
    left: 0
    width: 5px
    background: url('/images/inner_shadow_left.png') repeat-y left top


















