@import lib.sass

div.page_width
  margin-left: auto
  margin-right: auto
  width: 950px

body
  padding: 20px
  +background_greyness("white", 95)
  #masthead
    +clearfix
  #content
    +clearfix
  #footer
    +clearfix