@import lib.sass

div.page_width
  margin-left: auto
  margin-right: auto
  width: 950px

body
  padding: 20px
  +background_greyness("white", 90)
  #masthead
    margin: 0 0 20px
    overflow: hidden
    h1
      float: left
      margin: 0
      line-height: 26px
      a
        color = !black
        text-decoration: none
    #nav
      display: block
      margin: 0 0 0 200px
      li
        display: block
        float: left
        list-style: none
        margin: 0 5px 0 0
        padding: 0
        a
          display: block
          background = !white
          line-height: 26px
          padding: 0 10px
          height: 26px
          +font_size("small")
          font-weight: bold
          +rounded_corners("all", 5)
          text-decoration: none
          color = !main_colour
          &:hover
            color = !main_colour_alt
    #utilities
      float: right
      overflow: hidden
      a.account, a.session, a.help
        display: block
        float: left
        margin: 0 0 0 5px
        background = !white
        line-height: 26px
        padding: 0 10px
        height: 26px
        +rounded_corners("all", 5)
        text-decoration: none
        font-size: 10px
        text-transform: uppercase
        font-weight: bold
        color = !grey
        &:hover
          color = !light_grey
  #content
    background-color = !white
    +rounded_corners("bottom", 5)
    margin: 0 0 20px
    min-height: 480px
    #main
      margin: 0 230px 0 0
      padding: 30px 0 60px
      &.with_nav
        margin-left: 230px
  #footer
    +opacity(50)
    +font_size("small")
    &:hover
      +opacity(100)