@import lib.sass

#home_controller.index #page_title
  display: none
#top
  position: relative
  #pitch
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 100
    background: url('/images/transparent_backgrounds/main_colour_90.png')
    div.text
      width: 374px
      padding: 40px 20px 40px 40px
      float: left
      padding-right: 20px
      &>*
        color = !white
        +text_shadow(2, 2, 0, !main_colour * 0.66 + !black * 0.33)
      h2
        +font_size("humongous")
        font-weight: bold
        margin: 0 0 10px
      h3
        +font_size("xxlarge")
        margin: 0
    div.try
      width: 446px
      padding: 40px 40px 40px 20px
      float: right
      div.leader
        padding: 10px 20px
        +rounded_corners("top", 5)
        background = !yellow * 0.85 + !black * 0.15
        position: relative
        &>*
          color = !black
          line-height: 1
        h2
          +font_size("large")
          margin: 0
        b.tail
          display: block
          position: absolute
          top: 100%
          left: 20px
          height: 0
          width: 0
          border-top = 10px "solid" !yellow * 0.85 + !black * 0.15
          border-right: 20px solid transparent
          border-bottom: none
          border-left: 10px solid transparent
      form
        background = !white
        +rounded_corners("bottom", 5)
        padding: 20px
        div.complex_field
          span
            span.marker_way_point, span.marker_time
              float: left
              margin: -2px 3px 0 0
      ul.users
        display: none
  #search_results
    float: right
    background = !white
    position: relative
    z-index: 10
    width: 0
    border-left = 0px "solid" !light_grey
    height: 520px
    display: none
    div.try
      div.leader
        padding: 10px
        background = !yellow * 0.85 + !black * 0.15
        position: relative
        &>*
          color = !black
          line-height: 1
        h2
          +font_size("medium")
          margin: 0
          span
            display: none
        b.tail
          display: block
          position: absolute
          top: 100%
          left: 10px
          height: 0
          width: 0
          margin: -5px 0 0
          border-top = 10px "solid" !yellow * 0.85 + !black * 0.15
          border-right: 20px solid transparent
          border-bottom: none
          border-left: 10px solid transparent
      form
        background = !white
        +rounded_corners("bottom", 5)
        padding: 10px
        &>*>span
          float: none
          margin: 0 0 5px
          span.marker_way_point, span.marker_time
            float: left
            margin-top: 6px
          label
            display: none
          input[type="text"]
            margin: 0 0 0 21px
            display: block
          &:last-child
            margin-bottom: 0
  #map
    height: 440px

#features
  ul
    overflow: hidden
    li
      display: block
      float: left
      width: 286px
      margin: 0 20px 0 0
      h2
        +font_size("large")
        font-weight: bold
        margin: 0
      p
        color = !grey
    li:last-child
      margin: 0

/* Tour Page */
#features_controller
  ul.features
    li
      list-style: none
      margin: 0 0 30px
      img
        float: left
        width: 50px
      h4
        color = !main_colour
        +font_size("large")
        margin: 0 0 0 65px
      p
        margin: 0 0 0 65px

/* My Account */
#account_controller
  #main
    a.picture
      display: block
      float: right
      width: 78px
      height: 78px
      border = 1px "solid" !light_grey * 0.25 + !white * 0.75
      position: relative
      span
        position: absolute
        bottom: 0
        right: 0
        left: 0
        padding: 3px 0 2px
        color = !white
        +font_size("tiny")
        font-weight: bold
        text-decoration: none
        background = !main_colour
        text-align: center
        display: none
      &:hover
        border-color = !main_colour
        span
          display: block

/* Users List */
ul.users
  > li
    position: relative
    display: block
    margin: 1px 0 0 0
    padding: 5px 10px
    border-top = 1px "solid" !light_grey * 0.25 + !white * 0.75
    b.pointer
      display: none
      position: absolute
      left: -10px
      top: 15px
      height: 0
      weight: 0
      border: 10px solid transparent
      border-right = 10px "solid" !white
      border-left: none
      z-index: 11
    img.picture
      width: 38px
      height: 38px
      display: block
      border = 1px "solid" !light_grey * 0.25 + !white * 0.75
      float: left
    a.name
      +font_size("small")
      font-weight: bold
      display: block
      margin: 0 0 0 45px
      text-decoration: none
    span.stars_rating
      margin: 0 0 3px 45px
      display: block
    small
      display: block
      +font_size("tiny")
      color = !grey
      margin-left: 45px
  > li:first-child
    b.pointer
      display: block

/* Stars Rating (Small) */
span.stars_rating
  display: inline-block
  &.small
    height: 9px
    width: 49px
    background: url('/images/stars_rating_small.png') no-repeat

#map
  height: 520px

#did_you_mean
  display: inline-block
  li
    display: block
    list-style: none

/* Commutes */
#commutes_controller
  #commutes_nav
    div.options
      overflow: hidden
      margin: 0 0 5px
      a
        display: block
        padding: 0 8px
        height: 22px
        line-height: 22px
        background: url('/images/transparent_backgrounds/main_colour_50.png')
        +font_size("tiny")
        text-transform: uppercase
        +text_shadow(1, 1, 0, !main_colour * 0.85 + !black * 0.15)
        color = !white
        text-decoration: none
        font-weight: bold
        &:hover
          background = !main_colour
          +text_shadow(1, 1, 0, !main_colour * 0.66 + !black * 0.33)
      a.nav
        float: left
        margin: 0 1px 0 0
        b
          display: block
          text-indent: -9000px
          height: 0
          width: 0
          border: 5px solid transparent
          margin: 6px 2px 0
        &.previous
          +rounded_corners("left", 2)
          b
            border-left: none
            border-right = 5px "solid" !white
        &.next
          +rounded_corners("right", 2)
          b
            border-right: none
            border-left = 5px "solid" !white
        &.today
          +rounded_corners("all", 2)
          margin: 0 0 0 4px
      a.view
        float: right
        margin: 0 0 0 1px
        &.week
          +rounded_corners("left", 2)
        &.month
          +rounded_corners("right", 2)
      span.displayed
        margin: 0 0 0 12px
        +font_size("tiny")
        text-transform: uppercase
        line-height: 22px
        font-weight: bold
    ul.week
      li
        display: block
        float: left
        width: 14.285714285714286%
        list-style: none
        position: relative
        a
          display: block
          margin-right: 1px
          padding: 5px 0
          text-align: center
          text-transform: uppercase
          line-height: 1
          font-weight: bold
          +font_size("small")
          color = !grey
          text-decoration: none
          background = !white
          +rounded_corners("all", 2)
          &:hover
            color = !main_colour
          small
            display: block
            +font_size("tiny")
            font-weight: normal
        b.pointer
          display: none
          width: 0
          height: 0
          position: absolute
          bottom: 0
          left: 50%
          margin: 0 0 -10px -10px
          border: 10px solid transparent
          border-top = 10px "solid" !main_colour
          border-bottom: none
          z-index: 10
        &:last-child
          a
            margin-right: 0
        &.active
          a
            background = !main_colour
            color = !white
            +text_shadow(1, 1, 0, !main_colour * 0.66 + !black * 0.33)
            small
              +text_shadow(1, 1, 0, !main_colour * 0.66 + !black * 0.33)
          b.pointer
            display: block
  #commutes_map
  #commutes.panel
    div.content
      padding: 0
      & > ul
        &> li
          display: block
          margin: 0
          padding: 5px
          position: relative
          list-style: none
          border-bottom = 1px "solid" !light_grey * 0.5 + !white * 0.5
          overflow: hidden
          a.go
            position: absolute
            top: 50%
            right: 0
            bottom: 0
            display: block
            padding: 0 10px 0 0
            b
              display: block
              height: 0
              width: 0
              text-indent: -9000px
              border: 5px solid transparent
              border-left = 5px solid !light_grey * 0.33 + !white * 0.66
              border-right: none
              margin: -5px 0 0
          div
            +font_size("small")
            margin: 0 0 2px
            span.marker_way_point, span.marker_time, span.marker_passengers
              float: left
              margin: 0 3px 0 0
            &.arrive_for, &.passengers
              float: left
              width: 50%
              margin: 0
          &:last-child
            border-bottom: 0
          &:hover
            cursor: pointer
            a.go
              b
                border-left-color = !light_grey









