<ul class="nav">
  <li class="current"><b class="arrow"><!----></b><%= link_to "Feature 1", "", :title => "Feature 1" %></li>
  <li><b class="arrow"><!----></b><%= link_to "Feature 2", "", :title => "Feature 2" %></li>
  <li><b class="arrow"><!----></b><%= link_to "Feature 3", "", :title => "Feature 3" %></li>
</ul>