<li>
  <span class="commute_number">1</span>
  <ul class="details">
    <li>
      <span class="marker_way_point"><b>A</b></span>
      [location_a]
    </li>
    <li>
      <span class="marker_way_point"><b>B</b></span>
      [location_a]
    </li>
    <li>
      <span class="marker_time"></span>
      [time]
    </li>
  </ul>
  <%= link_to "Go", "", :title => "Go", :class => "go" %>
</li>