<% @page_title = "My Account" %>
<% @layout = "with_sidebar_left" %>

<%= render :partial => "update_logo" %>

<% content_for :sidebar_left do %>
  <%= render :partial => "nav" %>
<% end %>

<div class="panel">
  <div class="content">
    <h3>My Organisation</h3>
    <p class="leader">
      Tell us a bit about your organisation and its carpooling preferences
    </p>
    <%= link_to_function image_tag("", :alt => "asdf") + content_tag(:span, "Update Logo"), "asdf", :title => "Update Logo", :class => "logo show_modal" %>
    <form class="lw80">
      <p>
        <label>Name</label>
        <input type="text"/>
      </p>
      <p>
        <label>Description</label>
        <textarea cols="30"></textarea>
      </p>
      <p class="indent">
        <input type="checkbox"/>
        <label class="inline">Share carpoolers with the public</label>
      </p>
      <p class="submit indent">
        <button>Save</button>
      </p>
    </form>
  </div>
</div>