<% @page_title = "My Account" %>
<% @layout = "with_sidebar_left" %>

<% content_for :sidebar_left do %>
  <%= render :partial => "nav" %>
<% end %>

<div class="panel">
  <div class="content">
    <h3>System Preferences</h3>
    <p class="leader">
      Modify system settings and get Carpool App the way you want it
    </p>
    <form class="lw120">
      <p>
        <label>Distance Unit</label>
        <input type="radio"/><label class="inline">Kilometres</label>
        <input type="radio"/><label class="inline">Miles</label>
      </p>
      <p class="indent">
        <input type="checkbox"/><label class="inline">24-Hour Time</label>
      </p>
      <p class="submit indent">
        <button>Save</button>
      </p>
    </form>
  </div>
</div>