<% @page_title = "My Account" %>
<% @layout = "with_sidebar_left" %>

<% content_for :sidebar_left do %>
  <%= render :partial => "nav" %>
<% end %>

<div class="panel">
  <div class="content">
    <h3>Upgrade or Cancel</h3>
    <p class="leader">
      Upgrade or cancel your account. It should always be this simple.
    </p>

    asdf

  </div>
</div>