<% render :partial => "shared/init_map" %>

<% @page_title = "My Locations" %>

<% content_for :page_options do %>
  <%= link_to image_tag("icons/plus-circle.png", :alt => "Add a location") + "Add a location", new_location_path, :title => "Add a location", :class => "add button" %>
<% end %>

<div id="map"></div>