<% render :partial => "shared/init_map" %>

<% @page_title = "My Locations" %>

<% content_for :page_options do %>
  <%= link_to image_tag("icons/plus-circle.png", :alt => "Add a location") + "Add a location", "#", :title => "Add a location", :class => "add button show_modal" %>
<% end %>

<% content_for :modal_title, "Add a location" %>
<% content_for :modal_content do %>
  <form class="lw120" id="add_a_location">
    <p>
      <label>Name</label>
      <input type="text"/>
    </p>
    <p>
      <label>Address</label>
      <input type="text"/>
      <button id="find_location">Find it!</button>
    </p>
    <div class="complex_field">
      <label>Did you mean</label>
      <ul id="did_you_mean" style="display:none;">
        <li>
          <input type="radio"/><label class="inline">123 Something Street, Montreal, QC, Canada</label>
        </li>
        <li>
          <input type="radio"/><label class="inline">123 Something Street, Montreal, QC, Canada</label>
        </li>
        <li>
          <input type="radio"/><label class="inline">123 Something Street, Montreal, QC, Canada</label>
        </li>
      </ul>
    </div>
    <p class="indent submit">
      <button id="save_location">Save</button>
      or <%= link_to_function "Cancel", "", :title => "Cancel", :class => "negative modal_close" %>
    </p>
  </form>
<% end %>

<div id="map"></div>