<% render :partial => "shared/init_map" %>

<% @page_title = "My Locations" %>

<% content_for :page_options do %>
  <%= link_to image_tag("icons/plus-circle.png", :alt => "Add a location") + "Add a location", "#", :title => "Add a location", :class => "add button show_modal" %>
<% end %>

<%= render :partial => "modal_new" %>

<div id="commutes_map" class="panel">
  <div class="content no_padding">
    <div class="inner_shadow top"><!----></div>
    <div class="inner_shadow right"><!----></div>
    <div class="inner_shadow bottom"><!----></div>
    <div class="inner_shadow left"><!----></div>
    <div id="map"></div>
  </div>
</div>